@import 'styles/config/includes';

.todos {
  overflow: auto;
  max-height: 350px;
  padding-right: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.todo {
  &__title {
    flex-grow: 1;
  }
}